@page "/404"
<style>
    .wrapper{
        display:grid;
        justify-content:center;
        text-align:center;
    }
</style>
<div class="main">  
    <div class="wrapper">
        <h1>
            404
</h1>
    </div>
</div>
@code {

}
