@page "/users/{cliyentId:int}/kabinet"
@inject NavigationManager nv
<style>
    * {
        margin: 0;
        padding: 0;
    }
    a{
        color :black;
    }
    .katalog {
        display: grid;
        grid-template-areas:
            "sidebar sidebar sidebar main main main main main main";
    }

    .sidebar {
        position: fixed;
        grid-area: sidebar;
        background-color: white;
        border: 1px solid rgba(176, 176, 176, 0.35);
        text-align: center;
        padding-bottom: 500px;
        width: 210px;
    }

    hr {
        color: rgba(176, 176, 176, 0.35);
        border: 3px solid rgba(176, 176, 176, 0.35)
    }

    .sidebar_main {
        margin-top: 30px;
    }

    .card_main {
        margin-bottom: 30px;
    }

    .link_nav {
        margin-bottom: 10px;
    }

    .katalog_main {
        padding-top: 20px;
        grid-area: main;
        background-color: white;
        border: 1px solid rgba(176, 176, 176, 0.35);
    }

    .katalog-main {
        
    }

    .search {
        display: inline;
    }

    .line {
        margin-top: 20px;
    }

    .n-link {
        text-decoration: none;
    }

    .submit_btn {
        margin-left: 10px;
        box-sizing: border-box;
        width: 100px;
        height: 30px;
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-shadow: -1px 0px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
    }

    .korzina {
        display: inline;
    }
    .logo{
        border:1px solid black;
        width:186px;
        height:49px;
        font-size:24px;
        text-align:center;
        margin-bottom:35px;
        padding-top:5px;
        margin-left:15px;
    }
    hr{
        color:black;
        margin-bottom:50px;
        opacity:0;
    }
    .head_tx{
        margin-bottom:100px;
        margin-top:25px;
    }
    .info{
        margin-bottom:80px;
        font-size:24px;
    }
</style>      
<div class="wrapper">
    <div class="katalog">
        <div class="sidebar">
            <div class="sidebar_main">
                <div class="logo">
                    AsadTAMO
                </div>
                <hr />
                <div class="link_nav">
                    <NavLink class="n-link1" href="" Match="NavLinkMatch.All">
                        <span class="n-link1">Shaxsiy Kabinet</span>
                    </NavLink>
                </div><br />
                <div class="link_nav">
                    <NavLink class="n-link" @onclick="Nav" Match="NavLinkMatch.All">
                        Qabulgs Yozilish
                    </NavLink>
                </div><br />
                <div class="link_nav">
                    <NavLink class="n-link" href="sozlamalar" Match="NavLinkMatch.All">
                        Sozlamalar
                    </NavLink>
                </div><br />
                <div class="link_nav">
                    <NavLink class="n-link" href="chat" Match="NavLinkMatch.All">
                        Bog'lanish'
                    </NavLink>
                </div><br />
                <div class="link_nav">
                    <NavLink class="n-link" href="registr" Match="NavLinkMatch.All">
                        Chiqish
                    </NavLink>
                </div> <br />
            </div>
        </div>
        
        <div class="katalog_main">
            <div class="wrapper">
                <div class="themain">
                    <div class="head">
                        <h1 class="head_tx"> 
                            Shaxsiy kabinet
                        </h1>
                    </div>
                    <div class="user_info">
                        @if(client == null)
                        {
                            <h2>Yuklamoqdamiz...</h2>
                        }
                        else
                        {
                            <h2 class=" info name">Ism: @client.FirstName</h2>
                                <h2 class="info familiya">Familiya: @client.LastName</h2>
                            <h2 class="info phone">Telefon Raqam: @client.Phone</h2>
                            <h2 class="info created">Ro'yxatdan o'tilgan vaqt: @client.CreatedTime</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    }

@code {
    [Parameter] 
    public int cliyentId { get; set; }
    Client? client;
    private void Nav()
    {
        nv.NavigateTo($"users/{cliyentId}/qabul");
    }
    protected override async Task OnInitializedAsync()
    {
        client = await Repository.GetByIdClient(cliyentId);
    }
}
