.page[b-dg3tgbho76] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-dg3tgbho76] {
    flex: 1;
}

.sidebar[b-dg3tgbho76] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-dg3tgbho76] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-dg3tgbho76]  a, .top-row .btn-link[b-dg3tgbho76] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-dg3tgbho76] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-dg3tgbho76] {
        display: none;
    }

    .top-row.auth[b-dg3tgbho76] {
        justify-content: space-between;
    }

    .top-row a[b-dg3tgbho76], .top-row .btn-link[b-dg3tgbho76] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-dg3tgbho76] {
        flex-direction: row;
    }

    .sidebar[b-dg3tgbho76] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-dg3tgbho76] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-dg3tgbho76], article[b-dg3tgbho76] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
